# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask-specific
instance/
*.db

# Virtual environment
venv/
env/
*.env

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Flask migrations (if using Flask-Migrate)
migrations/

# Coverage directory (if using coverage.py)
.coverage
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv environment variable file
.env
